.wallet-card-parent {
  box-shadow: 0 5px 7px black;
  transition: box-shadow 300ms;
  border-bottom: solid 2px rgb(156, 99, 220);
  &:hover {
    box-shadow: 0 3px 8px black;
  }
}
.selected {
  box-shadow: 0 5px 7px blue;
  &:hover {
    box-shadow: 0 3px 8px blue;
  }
}
