
<app-create-wallet [visible]="openPopupToCreateWallet" (visibleChanged)="oncreateWalletModalVisibilityChanged($event)"></app-create-wallet>
<div class="container">
  <div class="row d-flex justify-content-center align-items-center" style="margin-top: 20px;">
    <div class="col-4">
      <div class="card">
        <div class="card-header">
          <h3>Wallets System</h3>
        </div>
        <div class="card-body">
          <p>App to register wallets.</p>
          <p *ngFor="let wallet of wallets">{{wallet.name}}</p>
        </div>
        <div class="card-footer">
          info
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-header ">
          <h3>Invoices</h3>
        </div>
        <div class="card-body ">
          Audit invoices.
        </div>
        <div class="card-footer">
          info
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-header">
          <h3>Expenses</h3>
        </div>
        <div class="card-body">
          Manage expenses
        </div>
        <div class="card-footer">
          info
        </div>
      </div>
    </div>
  </div>

</div>
