<div class="container">
  <div class="row d-flex justify-content-center align-items-center" style="margin-top: 20px;">
    <div class="col-12">
      <div class="card">
        <div class="card-header">Dashboard</div>
        <div class="card-body row">
          <div class="col-4">
            <div class="card">
              <div class="card-header ">
                Invoices Dashboard
              </div>
              <div class="card-body ">
                will be here
              </div>
              <div class="card-footer">
                info
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="card">
              <div class="card-header">
                Expenses
              </div>
              <div class="card-body">
                Will be here
              </div>
              <div class="card-footer">
                info
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
