<p-dialog [visible]="visible" [closable]="false" [modal]="true" [blockScroll]="true" [resizable]="false" >
  <ng-template pTemplate="header">
      Create new transaction
  </ng-template>
  <div class="container" style="width: 300px">
    <form [formGroup]="form">
      <div class="row">
        <label class="col-12">Type</label>
        <p-dropdown styleClass="col-12" appendTo="body" formControlName="type"  [options]="transactionTypes"
          optionLabel="label"
          optionValue="value"></p-dropdown>
      </div>
      <div class="row">
        <label class="col-12">Wallet</label>
        <p-dropdown styleClass="col-12" appendTo="body" formControlName="walletId"
          [options]="wallets"
          optionLabel="name"
          optionValue="id">
          <ng-template let-wallet pTemplate="item">
              <div class="d-inline-flex align-items-center">
                <app-card [size]="0.45" [wallet]="wallet" style="margin-bottom: 20px; margin-right: 5px"></app-card>
                <div>{{wallet.name}}</div>
              </div>
          </ng-template>
        </p-dropdown>
      </div>
      <div class="row">
        <label class="col-12">Topic</label>
        <p-dropdown styleClass="col-12" appendTo="body" formControlName="topic"
          [options]="topics"
          optionLabel="name"
          optionValue="name">
          <ng-template let-topic pTemplate="item">
            <app-topic [value]="topic"></app-topic>
          </ng-template>
          <ng-template let-topic pTemplate="selectedItem">
            <app-topic [size]="0.75" [value]="topic"></app-topic>
          </ng-template>
        </p-dropdown>
      </div>
      <div class="row">
        <label class="col-12">Amount</label>
        <p-inputNumber styleClass="col-12" formControlName="amount" [min]="0.01" [max]="1000"></p-inputNumber>
      </div>
      <div class="row">
        <label class="col-12">Tax</label>
        <p-inputNumber styleClass="col-12" formControlName="tax" [min]="0.01" [max]="1000"></p-inputNumber>
      </div>
    </form>
      <div *ngIf="errors">
          <small class="p-error col-12" *ngFor="let error of errors">{{error}}<br/></small>
      </div>
  </div>

  <ng-template pTemplate="footer">
      <button pButton (click)="cancel()" label="Cancel"></button>
      <button pButton (click)="save()" label="Create"></button>
  </ng-template>
</p-dialog>
