<p-dialog [visible]="visible" [closable]="false" [modal]="true" [blockScroll]="true" [resizable]="false">
    <ng-template pTemplate="header">
        Create new wallet
    </ng-template>
    <div class="container">
        <div class="row">
            <label class="col-12">Name</label>
            <input class="col-12" pInputText type="text" [(ngModel)]="walletName">
        </div>
        <div *ngIf="errors">
            <small class="p-error col-12" *ngFor="let error of errors">{{error}}</small>
        </div>
    </div>

    <ng-template pTemplate="footer">
        <button pButton (click)="cancel()" label="Cancel"></button>
        <button pButton (click)="save()" label="Create"></button>
    </ng-template>
</p-dialog>
